@model OrderDetailDto

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow border-0 mt-4">
                <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="text-white">Užsakymas nr. @Model.Order.OrderId</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="row pb-3">
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Vardas Pavardė:</td>
                                <td>@Model.Order.Name @Model.Order.LastName</td>
                            </tr>
                            <tr>
                                <td>Telefonas:</td>
                                <td>@Model.Order.PhoneNumber</td>
                            </tr>
                            <tr>
                                <td>El.paštas:</td>
                                <td>@Model.Order.Email</td>
                            </tr>
                            <tr>
                                <td>Adresas:</td>
                                <td>@Model.Order.Street @Model.Order.HouseNo@(Model.Order.HouseLetter != null ? Model.Order.HouseLetter : "") @(Model.Order.ApartmentNo != null ? (" - " + Model.Order.ApartmentNo) : ""), @Model.Order.City</td>
                            </tr>
                            <tr>
                                <td>Data:</td>
                                <td>@Model.Order.Date</td>
                            </tr>
                            <tr>
                                <td>Valanda:</td>
                                <td>@Model.Order.Hour</td>
                            </tr>
                            <tr>
                                <td>Statusas:</td>
                                <td>@(SvarosNamai.Web.Utility.SD.GetStatusDescription(Model.Order.Status))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow border-0 mt-4">
                <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="text-white">Užsakymas nr. @Model.Order.OrderId</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="row pb-3">
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Vardas Pavardė:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Telefonas:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>El.paštas:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Adresas:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Data:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Valanda:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Statusas:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
