@model OrderPreviewDto

<form asp-controller="Order" asp-action="CreateOrder">
    <input asp-for="Product.Description" hidden />
    <input asp-for="Product.Price" hidden />
    <input asp-for="Product.Name" hidden />
    <input asp-for="Product.ProductId" hidden />
    <input asp-for="Bundle.BundleName" hidden />
    <input asp-for="Bundle.BundleId" hidden />
    <input asp-for="Bundle.HourPrice" hidden />

    @for(int i = 0; i < Model.Orders.Count; i++)
    {
        var variable = Model.Orders[i];

        <input asp-for="Orders[i].City" type="hidden" />
        <input asp-for="Orders[i].Street" type="hidden" />
        <input asp-for="Orders[i].HouseNo" type="hidden" />
        <input asp-for="Orders[i].ApartmentNo" type="hidden" />
        <input asp-for="Orders[i].Name" type="hidden" />
        <input asp-for="Orders[i].LastName" type="hidden" />
        <input asp-for="Orders[i].CompanyNumber" type="hidden" />
        <input asp-for="Orders[i].CompanyName" type="hidden" />
        <input asp-for="Orders[i].PhoneNumber" type="hidden" />
        <input asp-for="Orders[i].Email" type="hidden" />
        <input asp-for="Orders[i].Date" type="hidden" />
        <input asp-for="Orders[i].IsCompany" type="hidden" />
        <input asp-for="Orders[i].Price" type="hidden" />
        <input asp-for="Orders[i].SquareMeters" type="hidden" />





    if(variable.IsCompany)
    {
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow border-0 mt-4">
                    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1 class="text-white">Užsakymo informacija</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="row pb-3">
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Vardas Pavardė:</td>
                                    <td>@variable.Name @variable.LastName</td>
                                </tr>
                                <tr>
                                    <td>Telefonas:</td>
                                    <td>@variable.PhoneNumber</td>
                                </tr>
                                <tr>
                                    <td>El.paštas:</td>
                                    <td>@variable.Email</td>
                                </tr>
                                <tr>
                                    <td>Adresas:</td>
                                    <td>@variable.Street @variable.HouseNo@(variable.ApartmentNo != null ? (" - " + variable.ApartmentNo) : ""), @variable.City</td>
                                </tr>
                                <tr>
                                    <td>Plotas:</td>
                                    <td>@variable.SquareMeters <b>m2</b></td>
                                </tr>
                                <tr>
                                    <td>Data:</td>
                                    <td>@variable.Date</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow border-0 mt-4">
                    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1 class="text-white">Kainodara</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="row pb-3">
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>@Model.Bundle.BundleName kaina už @variable.SquareMeters m2:</td>
                                    <td>
                                        @variable.Price€
                                    </td>
                                </tr>
                                @{
                                    if (Model.Product != null)
                                    {
                                        <tr>
                                            <td colspan="2" style="text-align:center"><b>Papildoma paslauga:</b></td>
                                        </tr>
                                        <tr>
                                            <td>@Model.Product.Name</td>
                                            <td>
                                                @Model.Product.Price€
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td colspan="2" style="text-align:center"><b>Pilna kaina: <span id="fullPrice">@Model.FullPrice</span>€</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <input type="submit" value="Sukurti fizinį užsakymą" class="btn btn-success btn-lg mb-2" style="width: 50%;" />
                <a asp-action="OrderCreate" class="btn btn-primary" style="width: 50%;">Grįžti atgal</a>
            </div>
        </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow border-0 mt-4">
                        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h1 class="text-white">Užsakymo informacija</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="row pb-3">
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Įmonės pavadinimas</td>
                                        <td>@variable.CompanyName</td>
                                    </tr>
                                    <tr>
                                        <td>Įmonės kodas</td>
                                        <td>@variable.CompanyNumber</td>
                                    </tr>
                                    <tr>
                                        <td>Telefonas:</td>
                                        <td>@variable.PhoneNumber</td>
                                    </tr>
                                    <tr>
                                        <td>El.paštas:</td>
                                        <td>@variable.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Adresas:</td>
                                        <td>@variable.Street @variable.HouseNo@(variable.ApartmentNo != null ? (" - " + variable.ApartmentNo) : ""), @variable.City</td>
                                    </tr>
                                    <tr>
                                        <td>Plotas:</td>
                                        <td>@variable.SquareMeters <b>m2</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow border-0 mt-4">
                        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h1 class="text-white">Kainodara</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="row pb-3">
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>@Model.Bundle.BundleName kaina už @variable.SquareMeters m2:</td>
                                        <td>
                                            @variable.Price€
                                        </td>
                                    </tr>
                                    @{
                                        if (Model.Product != null)
                                        {
                                            <tr>
                                                <td colspan="2" style="text-align:center"><b>Papildoma paslauga:</b></td>
                                            </tr>
                                            <tr>
                                                <td>@Model.Product.Name</td>
                                                <td>
                                                    @Model.Product.Price€
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td colspan="2" style="text-align:center"><b>Pilna kaina: <span id="fullPrice">@Model.FullPrice</span>€</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    }

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Sukurti fizinį užsakymą" class="btn btn-success btn-lg mb-2" style="width: 50%;" />
                    <a asp-action="OrderCreate" class="btn btn-primary" style="width: 50%;">Grįžti atgal</a>
                </div>
            </div>
        </div>
</form>


